body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
}

.header {
	background-color: CadetBlue;
 }

 .header-title {
 	color: MidnightBlue;
 	margin: 0;
 	padding-top: 10px;
 	padding-left: 10px;
 }

 .header-caption {
 	color: MidnightBlue;
 	padding-bottom: 10px;
 	padding-left: 10px;
 	margin-top: 0;
 	margin-bottom: 2em;
 }

 .main-body {
 	background-color: AliceBlue;
 	margin: auto;
 	text-align: center;
 	border-collapse: collapse;
 }
 th, td {
 	border: 2px solid black;
 	padding: 5px;
 }

 footer {
 	background-color: Grey;
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	width: 100%;
 }

 ul {
 	list-style-type: none;
 	float: right;
 }

 li {
 	color: white;
 	display: inline;
 	margin-right: 30px;
 }

 a {
 	color: black;
 	text-decoration: none;
 }

a:hover {
	text-decoration: underline;
}

 .other-links {
 	display: inline-block;
 	border-right: 1px solid white;
 	width: 50%;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .social-media-container {
 	display: inline-block;
 	width: 49%;
 	margin-bottom: 10px;
 }

 .social-media-images {
 	float: left;
 }

 .social-media-images img {
 	margin-left: 30px;
 }